<div class="container-fluid d-flex pt-2">
    <ul class="sidebar m-0 p-0 pe-3">
        <li class="sidebar__item btn-dark">Blogs</li>
    </ul>
    <div class="container-fluid">
        <form class="createBlog w-100 mb-4">
            <div class="mb-3">
                <input type="text" class="form-control" name="title" id="title" placeholder="title here.."
                    [(ngModel)]="inputTitle" required>
            </div>
            <div class="mb-3">
                <textarea class="form-control" name="text" id="text" rows="3" placeholder="text here.."
                    [(ngModel)]="inputText" required></textarea>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" name="author" id="author" placeholder="author here.."
                    [(ngModel)]="inputAuthor" required>
            </div>
            <div class="alert alert-danger" *ngIf="!isValid">Please fill in all fields</div>
            <button *ngIf="!editStatus" type="submit" class="btn btn-dark" id="add" (click)="addPost()">Add</button>
            <button *ngIf="editStatus" type="submit" class="btn btn-dark" id="saveEdit" (click)="saveEditPost()">Save</button>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Text</th>
                    <th scope="col">Author</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let blog of blogs">
                    <th scope="row">{{blog.id}}</th>
                    <td>{{blog.title}}</td>
                    <td>{{(blog.text.length > 50) ? (blog.text | slice:0:50) + '...' : (blog.text)}}</td>
                    <td>{{blog.author}}</td>
                    <td><button type="button" class="btn btn-dark" (click)="editPost(blog)">Edit</button></td>
                    <td><button type="button" class="btn btn-dark" (click)="deletePost(blog.id)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>