<div class="container-fluid pt-3">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let blog of blogs">
            <div class="card border-0" style="width: 100%;">
                <img src="https://cdn.create.vista.com/api/media/medium/246334412/stock-photo-woman-pajama-eats-pizza-box?token="
                    class="card-img-top" alt="woman with pizza">
                <div class="card-body p-0 pt-2">
                    <a class="card-link ">{{blog?.author | uppercase}}</a>
                    <h5 class="card-title py-2 m-0">{{blog?.title | titlecase}}</h5>
                    <p class="card-text">{{blog?.text}}</p>
                </div>
            </div>
        </div>
    </div>
</div>