<div class="container pt-3">
<div class="row row-cols-1 row-cols-md-3 g-3">
    
    <div class="col">
    <div class="card" style="width: 100%;">
        <img src="https://cdn.create.vista.com/api/media/medium/246334412/stock-photo-woman-pajama-eats-pizza-box?token="
            class="card-img-top" alt="woman with pizza">
        <div class="card-body">
            <p class="card-text">{{'ivan' | uppercase}}</p>
            <h5 class="card-title">{{'title 1' | titlecase}}</h5>
            <p class="card-text">some text 1</p>
        </div>
    </div>
</div>

</div>
</div>